.header {
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(32, 32, 32);
  border-radius: 8px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #5f5f5f;
  position: relative;
}

.badge {
  background: #e74c3c;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  position: absolute;
  top: -8px;
  right: -8px;
}
